<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />

    <application
        android:theme="@style/AppTheme"
        android:label="Hide Lock Widgets"
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <meta-data
            android:name="xposeddescription"
            android:value="Hide lockscreen clock and overlay Yandex Music widget" />

        <meta-data
            android:name="xposedminversion"
            android:value="93" />

    </application>

</manifest>
